<ion-view title="League Standings">
     <ion-nav-buttons side="right">
        <button class="button button-clear icon ion-settings" ng-click="openModal(true)">
            
        </button>
    </ion-nav-buttons>
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <ul class="list">
            <li class="item" style="padding:0px 10px 0px 0px;" ng-repeat="user in leagueViewModel.standings">
                <div class="row">
                    <div class="col-20">
                        <img ng-src="{{user.get('ProfilePictureUrl')}}" style="width:30px; height:30px; border-radius:25px;" />
                    </div>
                    <div class="col-50">
                        <p style="padding-top: 5px;"><a href="#/leagueMember/userid/{{user.get('UserID')}}/userleagueid/{{user.id}}" style="text-decoration:none;">{{user.get("ShortName")}}</a></p>
                    </div>
                    <div class="col-25" style="padding-top: 5px;">
                        <p>{{user.get("Wins")}}-{{user.get("Losses")}}</p>
                    </div>
                    <div class="col-5" style="padding-top: 5px;">
                        <p style="color:red;"> +2</p>
                    </div>
                </div>
            </li>
        </ul>
        <button class="button button-block" ng-click="openModal()">Add User to League</button>
    </ion-content>
</ion-view>

<script id="contact-modal.html" type="text/ng-template">
  <div class="modal">
    <ion-header-bar>
      <h1 class="title">Add User to League</h1>
    </ion-header-bar>
    <ion-content>
      <div class="list">
        <label class="item item-input">
          <input type="text" placeholder="Name" ng-model="searchText">
          <a data-tap-disabled="true" class=" button button-icon icon positive" ng-click="searchUsers(searchText);" ng-class="{'ion-search':!hasFilters,'ion-close-circled':hasFilters}"></a>
        </label>
        <br />
        <ul class="list">
            <li class="item" ng-repeat="user in searchedUsers">
                <div class="row">
                    <div class="col-25">
                        <img src="{{user.get('profilePictureUrl')}}" style="border-radius:25px; width:50px; height:50px;" /> 
                    </div>
                    <div class="col-50">
                        <h2> {{user.get('firstName')}} {{user.get('lastName')}}</h2>
                        <p id="motto"> {{user.get('profileMotto')}} </p>
                    </div>
                    <div class="col-25">
                        <a class="button button-icon icon ion-plus" style="margin-left:50px;" ng-click="addUserToLeague(user.id, standings[0].get('LeagueID'), user)"></a>
                    </div>
                </div>
                
            </li>
        </ul>
      </div>

      <button class="button button-full button-positive" ng-click="closeModal(false)">Done</button>
    </ion-content>
  </div>
</script>

<script id="settings-modal.html" type="text/ng-template">
    <div class="modal">
        <ion-header-bar>
            <h1 class="title">League Settings</h1>
        </ion-header-bar>
        <ion-content>
            <div class="list">
                <a class="item item-icon-left" href="#" ng-click="changeLeagueName()">
                    <i class="icon ion-android-home"></i>
                    League Name
                    <span class="item-note">
                    {{leagueViewModel.league.get('LeagueName')}}
                    </span>
                </a>
                <a class="item item-icon-left" href="#" ng-click="changeLeagueMotto()">
                    <i class="icon ion-chatbox-working"></i>
                    League Motto
                    <p class="">
                    {{leagueViewModel.league.get('LeagueMotto')}}
                    </p>
                </a>
                <a class="item item-icon-left" href="#" ng-click="">
                    <i class="icon ion-ios-camera"></i>
                    League Avatar
                    <span class="item-note">
                        <img src="{{leagueViewModel.league.get('LeaguePictureUrl')}}" style="width:25px; height:25px;" />
                    </span>
                   
                </a>
<!--
                <a class="item item-icon-left" href="#" ng-click="">
                    <i class="icon ion-ios-camera"></i>
                    League Notifications
                    <span class="item-note">
                         <label class="toggle toggle-assertive">
                               <input type="checkbox">
                               <div class="track">
                                 <div class="handle"></div>
                               </div>
                         </label>
                    </span>
                   
                </a>
-->

            </div>
            <button class="button button-full button-positive" ng-click="closeModal(true)">Done</button>
        
        </ion-content>
    </div>
</script>