<ion-view title="{{leagueViewModel.league.get('LeagueName')}}" cache-view="false">
    <ion-nav-buttons side="right">
        <button class="button button-clear icon ion-plus-round" ng-click="openModal(false)">
            
        </button>
    </ion-nav-buttons>
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="" ng-if="isEmptyLeague" style="height:100%;">
            <img src="https://cdn0.iconfinder.com/data/icons/bicon/24/editor_document_file_empty_pencil_pen_edit_write_2-512.png" style="width:100px; height:100px; margin: 0 auto; display:block; position:relative; top:35%;" />
            <h4 style="text-align:center; position:relative; top:50%;">Select a league to begin.</h4>
        </div>
        <div ng-if="!isEmptyLeague">
            <div class="list card" style="padding: 0px; margin:0px;">
                <div class="item">
                    <div class="row">
                        <div class="col-75">
                            <label class="item item-input">
                                <input type="text" placeholder="Write a Message..." ng-model="post.contents">
                            </label>
                        </div>
                        <div class="col-25">
                            <input type="submit" class="button button-stable button-small" style="width:100%;" value="Post" ng-click="postToWall()" />
                        </div>
                    </div>
                </div>

            </div>
            <ion-list>
                    <div class="card">
                        <ion-item ng-repeat="post in leagueViewModel.feed">
                                <div class="item item-text-wrap">
                                    <h4 style="color:black;">{{post.get('title')}}</h4>
                                    <p style="color:black; margin-bottom:0px;">{{post.get('headlineText')}}</p>
                                    <span style="font-size:8px;">{{getUser(post.get('userID')).get('ShortName')}} on {{post.get('createdAt').toLocaleString()}}</span>
                                </div>

                        </ion-item>
                    </div>
            </ion-list>
        </div>
        
    </ion-content>
</ion-view>