<script src="addGame.html"></script>

<ion-view title="League Member">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <img ng-src="{{userleague.get('ProfilePictureUrl')}}" style="border-radius:50px; width:100px; height:100px; border: solid white 2px; box-shadow: 0px 0px 10px #888888; margin: 0 auto; display:block;"/>
        <h3 style="text-align:center;">{{user.get('firstName')}} {{user.get('lastName')}}</h3>
        <div>
            <p style="text-align:center;">{{userleague.get("Wins")}}-{{userleague.get("Losses")}}</p>
<!--            <p style="text-align:center;">{{user.get('profileMotto')}}</p>-->
        </div>
        
        <div class="row">
            <div class="col-50">
                <h3 style="text-align:center;">{{formatAverage(userleague.get('PointsScored') / userleague.get('Wins') + userleague.get('Losses'))}}</h3>
                <p style="text-align:center;">Points Per Game</p>
            </div>
            <div class="col-50">
                <h3 style="text-align:center;">{{formatAverage(userleague.get('PointsAllowed') / userleague.get('Wins') + userleague.get('Losses'))}}</h3>
                <p style="text-align:center;">Points Allowed</p>
            </div>
        </div>
        
        <div class="list card" style="margin:0px;">
            <div class="item item-divider">Recent Games</div>
            <div class="item item-body">
                <ul class="list" style="padding:0px 0px 0px 0px;">
                    <li class="item" ng-repeat="game in recentUserGames" style="padding:0px 0px 0px 0px;">
                        <div class="row">
                            <div class="col-50">
                                <p style="margin-top:0px;">vs. {{printOpponent(game)}}</p>
                            </div>
                            <div class="col-25">
                                <p style="margin-top:0px; text-align:right;">{{game.get("userScore")}}</p>
                            </div>
                            <div class="col-25">
                                <p style="margin-top:0px; text-align:right;">{{game.get("opponentScore")}}</p>
                            </div>
                        </div>
                    </li>
                </ul>
                
            </div>
        </div>
        <a href="#/leagueSchedule/userleagueid/{{userleague.id}}" class="button button-stable button-block ">See Full Schedule</a>
    </ion-content>
</ion-view>