<ion-view title="League Schedule">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <ul class="list">
            <li class="item" style="padding:0px 25px 0px 0px;" ng-repeat="game in scheduledGames">
                <div class="row">
                    <div class="col-20">
                        <img ng-src="{{getUser($rootScope, game.get('userID')).get('ProfilePictureUrl')}}" style="width:30px; height:30px; border-radius:25px;" />
                    </div>
                    <div class="col-50">
                        <h2 style="padding-top: 5px;">{{getUser(game.get('userID')).get('ShortName')}}</h2>
                        <p>{{getUser(game.get('userID')).get('Wins')}}-{{getUser(game.get('userID')).get('Losses')}}</p>
                    </div>
                    <div class="col-offset-20 col-15">
                        <h1>{{game.get("userScore")}}</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-20">
                        <img ng-src="{{getUser(game.get('opponentID')).get('ProfilePictureUrl')}}" style="width:30px; height:30px; border-radius:25px; margin-top:10px;" />
                    </div>
                    <div class="col-50">
                        <h2 style="padding-top: 5px;">{{getUser(game.get('opponentID')).get('ShortName')}}</h2>
                        <p>{{getUser(game.get('opponentID')).get('Wins')}}-{{getUser(game.get('opponentID')).get('Losses')}}</p>
                    </div>
                    <div class="col-offset-20 col-15">
                        <h1>{{game.get("opponentScore")}}</h1>
                    </div>
                </div>
                <div id="footer" style="width:100%;">
                    <span>{{game.get("createdAt").toLocaleString()}}</span>
                    <a href="" class="button button-small button-clear button-positive" style="position:relative; bottom:5px;">See Full Game</a>
                </div>
            </li>
        </ul>
    </ion-content>
</ion-view>