<ion-view title="League Standings">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <ul class="list">
            <li class="item" style="padding:0px 10px 0px 0px;" ng-repeat="user in standings">
                <div class="row">
                    <div class="col-20">
                        <img ng-src="{{user.get('ProfilePictureUrl')}}" style="width:30px; height:30px; border-radius:25px;" />
                    </div>
                    <div class="col-50">
                        <p style="padding-top: 5px;"><a href="#/leagueMember/userid/{{user.get('UserID')}}/userleagueid/{{user.id}}" style="text-decoration:none;">{{user.get("ShortName")}}</a></p>
                    </div>
                    <div class="col-25" style="padding-top: 5px;">
                        <p>{{user.get("Wins")}}-{{user.get("Losses")}}</p>
                    </div>
                    <div class="col-5" style="padding-top: 5px;">
                        <p style="color:red;"> +2</p>
                    </div>
                </div>
            </li>
        </ul>
    </ion-content>
</ion-view>