<ion-view title="Login">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
            <h1>myLeague v 0.1</h1>
            <div class="spacer" style="height: 40px;"></div>
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Username</span>
                    <input type="text" ng-model="username">
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="password" ng-model="password">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <button href="#/tabs/leagueHome" class="button button-balanced button-block" ng-click="login(username,password)">Log in</button>
            <a href="#/createAccount" class="button button-positive button-block ">Create Account</a>
    </ion-content>
</ion-view>