<ion-view title="Recent Games">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="" ng-if="!leagueViewModel.recentGames.length" style="height:100%;">
            <img src="https://cdn0.iconfinder.com/data/icons/bicon/24/editor_document_file_empty_pencil_pen_edit_write_2-512.png" style="width:100px; height:100px; margin: 0 auto; display:block; position:relative; top:35%;" />
            <h4 style="text-align:center; position:relative; top:50%;">No games have been recorded.</h4>
        </div>
        <ul class="list">
            <li class="item" style="padding:0px 25px 0px 0px;" ng-repeat="game in leagueViewModel.recentGames">
                <div class="row">
                    <div class="col-20">
                        <img ng-src="{{getUser(game.get('userID')).get('ProfilePictureUrl')}}" style="width:30px; height:30px; border-radius:25px;" />
                    </div>
                    <div class="col-50">
                        <h2 style="padding-top: 5px;">{{getUser(game.get('userID')).get('ShortName')}}</h2>
                        <p>{{getUser(game.get('userID')).get('Wins')}}-{{getUser(game.get('userID')).get('Losses')}}</p>
                    </div>
                    <div class="col-offset-20 col-15">
                        <h1>{{game.get("userScore")}}</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-20">
                        <img ng-src="{{getUser(game.get('opponentID')).get('ProfilePictureUrl')}}" style="width:30px; height:30px; border-radius:25px; margin-top:10px;" />
                    </div>
                    <div class="col-50">
                        <h2 style="padding-top: 5px;">{{getUser(game.get('opponentID')).get('ShortName')}}</h2>
                        <p>{{getUser(game.get('opponentID')).get('Wins')}}-{{getUser(game.get('opponentID')).get('Losses')}}</p>
                    </div>
                    <div class="col-offset-20 col-15">
                        <h1>{{game.get("opponentScore")}}</h1>
                    </div>
                </div>
                <div id="footer" style="width:100%;">
                    <span>{{game.get("createdAt").toLocaleString()}}</span>
                    <a href="#/leagueGame/gameid/{{game.id}}" class="button button-small button-clear button-positive" style="position:relative; bottom:5px;">See Full Game</a>
                </div>
            </li>
        </ul>
    </ion-content>
</ion-view>